* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(to right, #0a0a0f, #1e0024);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  overflow-x: hidden;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  pointer-events: none;

  background-image:
    radial-gradient(circle, rgba(234, 0, 255, 0.25) 2px, transparent 2px),
    radial-gradient(circle, rgba(255, 255, 255, 0.15) 1px, transparent 1px);

  background-size:
    120px 120px,
    80px 80px;
  background-position:
    0 0,
    40px 60px;
}
.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 4px outset #ea00ff;
  border-radius: 60px;
}
.logo {
  width: 50%;
}
.hero-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.carro {
  position: absolute;
  top: 5px;
  right: 20px;
  background-color: transparent;
  border: none;
  font-size: 1.4em;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(36, 36, 36, 0.384);
  width: 100%;
  padding: 10px 0;
  margin-bottom: 15px;
  border-radius: 25px;
  border-top: 3px solid #ea00ff;
  box-shadow: 0px 1px 6px white;
}
.nav-list {
  display: flex;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav-list li {
  color: white;
  list-style: none;
  font-size: 1.2em;
}
.title2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 30px 0;
  padding: 20px;
  border-bottom: 10px solid #ea00ff;
  box-shadow: inset 0 0 20px #ea00ff;
  border-radius: 60px;
}

.title2 h2 {
  color: rgb(225, 173, 255);
  font-size: 2em;
  filter: brightness(1.2);
  text-shadow: 0 2px 5px #ea00ff;
}
.title2 p {
  color: #cfcfcf;
  margin-top: 8px;
  font-size: 1.1em;
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 40px;
  margin-top: 15px;
}
.card {
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  background: black;
  border-radius: 20px;
  padding: 10px;
  background: linear-gradient(to bottom, #d29bff6c, black);
  border: 2px solid #ea00ff;
}
.card:hover {
  transform: scale(1.02);
}
.title {
  color: rgb(225, 173, 255);
  font-size: 1.8em;
  text-align: center;
  margin: 0;
}
.back-div {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
}
.front-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
}
.list {
  padding: 10px;
  border-radius: 10px;
  list-style: none;
  width: 100%;
  align-self: center;
  font-size: 2em;
  color: rgb(225, 173, 255);
}
.buttons {
  width: 50%;
  padding: 10px;
  max-width: 160px;
  font-size: 1.2em;
  border-radius: 50px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  background-color: rgb(27, 0, 32);
  border: 2px outset rgb(255, 0, 255);
}
.buttons:hover {
  background-color: #ea00ff;
  color: white;
  transform: scale(1.05);
}
.product-image {
  width: 50%;
}
.price {
  color: white;
  font-size: 1.5em;
  font-weight: bold;
}
@media (min-width: 768px) {
  .hero-logo {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
  }
  .title2 h2 {
    font-size: 2.5em;
  }
  .title2 p {
    font-size: 1.7em;
  }
  .cards {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
  .hero {
    margin-bottom: 0;
  }
  .logo {
    width: 10%;
  }
  .carro {
    font-size: 2.7em;
  }
  .navbar {
    width: 40%;
    margin-bottom: 20px;
    margin-top: 0;
  }
  .nav-list {
    width: 100%;
    justify-content: space-evenly;
  }

  .nav-list li {
    color: white;
    list-style: none;
    font-size: 1.5em;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 1.18em !important;
  }
  .title2 h2 {
    font-size: 2.5em;
  }
  .navbar {
    width: 60%;
    padding: 5px;
    margin-top: 20px;
    font-size: 0.9em;
  }
  .logo {
    transform: scale(1.3);
  }
  .price {
    font-size: 1.3rem;
  }
  .list {
    font-size: 1.1em;
    padding: 0;
  }
  .buttons {
    width: 60%;
    font-size: 0.9em;
  }

  .product-image {
    width: 80%;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .navbar {
    width: 70%;
  }

  .nav-list {
    gap: 20px;
  }

  .nav-list li {
    font-size: 1.2rem;
  }

  .logo {
    width: 150px;
  }

  .cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 15px;
  }

  .card {
    min-width: 0;
  }

  .title {
    font-size: 2rem;
  }

  .product-image {
    width: 70%;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .hero {
    gap: 10px;
  }

  .logo {
    width: 150px;
  }

  .navbar {
    width: 60%;
    padding: 12px 0;
  }

  .nav-list {
    gap: 35px;
  }

  .nav-list li {
    font-size: 1.3rem;
  }

  .cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    padding: 20px;
  }

  .card {
    padding: 15px;
  }
  .list {
    font-size: 1.6em !important;
  }

  .product-image {
    width: 60%;
  }

  .buttons {
    width: 60%;
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .cards {
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 20px;
  }
  .card {
    width: 70%;
    padding: 12px;
  }

  .title {
    font-size: 1.6rem;
  }
  .title2 h2 {
    font-size: 2em;
  }
  .navbar {
    width: 90%;
    padding: 10px;
    margin-top: 20px;
    font-size: 0.9em;
  }

  .product-image {
    width: 50%;
  }

  .price {
    font-size: 1.1rem;
  }

  .buttons {
    width: 60%;
    padding: 10px;
    font-size: 0.9rem;
  }
}
@media (min-width: 520px) and (max-width: 680px) {
  .list {
    font-size: 1.5em !important;
  }
}
@media (min-width: 680px) and (max-width: 768px) {
  .list {
    font-size: 1.7em !important;
  }
}

@media (min-width: 840px) and (max-width: 1199px) {
  .list {
    font-size: 1.9em !important;
  }
}
@media (min-width: 1200px) {
  .list {
    font-size: 1.3em !important ;
  }
  .buttons {
    width: 40% !important;
    font-size: 0.7em;
    padding: 10px;
  }
  .title {
    font-size: 1.6em;
  }
}
